{% extends 'CoreBundle::layout.html.twig' %}

{% block meta %}
    {{ generate_meta("Hadiths") | raw }}
{% endblock %}


{% block body %}
    {% set cp=0 %}
    <section class="bodywrapper inner">
        <section class="mainwrapper">
            <h2>
                <img src="{{ asset('bundles/core/images/tilawat-icon.png') }}" alt="{{ 'global.hadith_list' | trans }}" class="home-icon-label" width="63" height="63" />
                {{ 'global.hadith_list' | trans }}
                <span class="h-line"></span>
            </h2>
            <section class="grid">
                {% for category in categoriesList %}
                    <article class="column">
                        <h3>{{ category.name }} <span class="h-line">&nbsp;</span></h3>
                        {% if category.description is not empty %}
                            <blockquote class="item-description ">{{ category.description | nl2br }}</blockquote>
                        {% endif %}
                        <a href="{{ path('hadith_category',{'id': category.id, 'category_name' : category.name | trim | replace({" " : "-"})  }) | url_decode() }}"
                           class="readmorebtn">{{ 'global.browse' | trans }}</a>
                    </article>
                {% endfor %}
            </section>
        </section>
    </section>
{% endblock %}