{% block form_row %}
    {% spaceless %}
        <li>
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </li>
    {% endspaceless %}
{% endblock form_row %}


{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input class="c-field"
               type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock form_widget_simple %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert error">
            {% for error in errors %}
                <p>{{ error.messagePluralization is null
                ? error.messageTemplate|trans(error.messageParameters, 'validators')
                : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators') }}</p>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}