<!-- footer -->
<footer class="footerwrapper">
    <section class="footertop">
        <section class="grid-holder mainwrapper">
            <section class="grid">
                <!-- #4 column -->
                <figure class="column c-one-fourth site-map"><strong
                            class="headingstyle03">{{ 'global.sitemap' | trans }}</strong>
                    <ul class="ulstyel02">
                        <li><a href="{{ path('core_homepage') | url_decode() }}">
                                {{ 'main_menu.home_page' | trans }}</a></li>
                        <li><a href="{{ path('reciters_list') | url_decode() }}">
                                {{ 'main_menu.reciters_list' | trans }}</a></li>
                        <li><a href="{{ path('tilawat_list')  | url_decode() }}">
                                {{ 'main_menu.tilawat' | trans }}</a></li>
                        <li><a href="{{ path('adhkar_list')  | url_decode() }}">
                                {{ 'main_menu.adhkar_list' | trans }}</a></li>
                        <li><a href="{{ path('text_adhkar_categories')  | url_decode() }}">
                                {{ 'main_menu.text_adhkar_categories' | trans }}</a></li>
                        <li><a href="{{ path('hadith_categories')  | url_decode() }}">
                                {{ 'main_menu.hadith' | trans }}</a></li>
                        <li><a href="{{ path('playlist_list') | url_decode() }}">
                                {{ 'main_menu.choose_play_list' | trans }}</a></li>
                        <li><a href="{{ path('core_contact_us') | url_decode() }}">
                                {{ 'global.contact_us' | trans }}</a></li>
                    </ul>
                </figure>
                <figure class="column c-one-fourth"><strong
                            class="headingstyle03">{{ 'global.about_site' | trans }}</strong>
                    <blockquote>
                        {{ 'global.short_description' | trans }}
                    </blockquote>
                </figure>
                <figure class="column c-one-fifth"><strong
                            class="headingstyle03">{{ 'global.social_networks'| trans }}</strong>
                    <ul class="ulstyel02">
                        <li>{{ 'global.footer_location' | trans }}</li>
                    </ul>
                    <ul class="socialnetcon">
                        <li><a href="http://www.facebook.com/KoranKarimPage"
                               data="{{ 'global.join_us_facebook' | trans }}" target="_blank"
                               class="facebook-link white"><span
                                        class="social-txt">Facebook</span></a></li>
                        <li><a href="http://twitter.com/Koran_Karim_" target="_blank"
                               data="{{ 'global.join_us_twitter' | trans }}" class="twitter-link white"><span
                                        class="social-txt">Tweeter</span></a></li>
                        <li><a href="https://www.instagram.com/koran_karim_com" rel="publisher" target="_blank"
                               data="{{ 'global.join_us_instagram' | trans }}" class="instagram-link white"><span
                                        class="social-txt">Instagram</span></a></li>
                        <li><a href="https://plus.google.com/+KoranKarimPage" rel="publisher" target="_blank"
                               data="{{ 'global.join_us_google' | trans }}" class="google-link white"><span
                                        class="social-txt">Google Plus</span></a></li>
                    </ul>
                </figure>
                <figure class="column c-one-fifth">
                    <strong class="headingstyle03">{{ 'global.footer_code_source'| trans }}</strong>
                    <p>
                        {{ 'global.footer_code_source_description'| trans }}
                        <a href="https://github.com/Koran-Karim/koran-karim.com" target="_blank">
                            <img align="left" src="{{ asset('bundles/core/images/github.png') }}">
                        </a>
                    </p>
                </figure>

            </section>
        </section>
    </section>
    <section class="copyright">
        <section class="mainwrapper">
            <article
                    class="copy-right">{{ 'global.copyright' | trans({'%currentYear%' : "now"|date("Y")}) | raw }}</article>
            <a href="#" onclick="scrollToTop();return false">{{ 'global.back_to_top' | trans }}</a>
        </section>
    </section>
</footer>
