{% extends 'CoreBundle::layout.html.twig' %}

{% block meta %}
    {{ generate_meta("Adhkars") | raw }}
{% endblock %}

{% block body %}
    <section class="bodywrapper inner">
        <section class="mainwrapper">
            <h2>
                <img src="{{ asset('bundles/core/images/adhkar-icon.png') }}" alt="{{ 'global.adhkar' | trans }}" class="home-icon-label" width="63" height="63" />
                {{ 'global.adhkar' | trans }}
                <a href="{{ path('adhkar_listen_all') }}" class="listen-all listen-icon animated-hover">{{ 'global.tilawa_listen_all' | trans }}</a>
                <span class="h-line">&nbsp;</span>
            </h2>
            <section class="grid">
                {% for adhkar in adhkarList %}
                    <article class="column c-one-third">
                        <h3>{{ adhkar.name }} {% if adhkar.reciter is not empty %} - {{ adhkar.reciter  }} {% endif %}<span class="h-line">&nbsp;</span></h3>
                        <a href="{{ path('adhkar_play',{
                        'name' : adhkar.name | trim | replace({" " : "-"}) ~ "-" ~ adhkar.reciter | trim | replace({" " : "-"}),
                        'id':adhkar.id
                        }) | url_decode() }}"
                           class="readmorebtn">{{ 'global.listen' | trans }}</a>
                    </article>
                {% endfor %}
            </section>
        </section>
    </section>
{% endblock %}